<% include parts/header %>
<section id="home">
	<div class="main-bg"></div>
	<header>
		<h1><%=title%></h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Photography</a></li>
				<li><a href="#">Design</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
</section>
	
<% include parts/footer %>