/* General settings */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   font: normal 16px sans-serif;
}

body {
   background: #000;
   color: #fff;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
   display: inline;
}

h1 {
   font: 5rem 'Roboto', sans-serif;
   letter-spacing: 3px;
   margin: 1rem 0 2rem;
   text-shadow: 0 0 5px #FECCA7;
   color: #000;
}


#main {
   position: relative;
   text-align: center;
   min-height: 100vh;
}

.main-bg {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   z-index: -1;
   background: url('../img/main.jpg') 65% 100% / cover no-repeat;
}

header {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   padding: 0 10px 6.25rem 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background: rgba(0, 0, 0, 0.8);
   box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.8);
   animation: fadeslideX 0.7s ease-out;
}

nav ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: fadein 0.5s 0.4s ease-out backwards;
}

nav li {
   margin: 2rem 1rem;
   transition: transform 0.2s linear;
}

nav li:hover {
   transform: scale(1.8);
   text-shadow: 0 0 0.5rem #fff;
}

nav li:active{
   transform: scale(0);
}

@media only screen and (max-width: 820px) {
   header {
      width: 100%;
      height: auto;
      padding: 0 10px;
      animation: fadeslideY 0.7s ease-out;
   }
   nav ul {
      flex-direction: row;
   }
}

@keyframes fadeslideX {
   from{
      opacity: 0;
      transform: translatex(-50px);
   }
}

@keyframes fadeslideY {
   from{
      opacity: 0;
      transform: translatey(50px);
   }
}

@keyframes fadein {
   from{
      opacity: 0;
   }
}